.body{
    font: 18px;
    color: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.info1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tarjeta {
    margin: auto;
    padding: 2rem;
    align-items: center;
    box-shadow: 0 18px 200px -60px black;
    font-family: Arial, Helvetica, sans-serif;   
    border-radius: 50px;
    width: 400px;
    backdrop-filter: blur(15px);
    border: 2px solid #ffff2f11;
}

#foto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 60px -10px;
   
    
}

.skills{
    display: flex;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 1.2rem;
    margin: auto;
}

#button{
    color: white;
    background-color: grey;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin-left: 2px;
}

