.header{
    display: flex;
    justify-content: center;


}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

#navbar{
    background: green;

}



header nav{
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

header a{
    text-align: right;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: black;
}
.button{
    font-size: .8rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
}

#wpp{
    font-size: .8rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
}

#footer{
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: green;
}

.redesFooter a{
    text-align: right;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

.redesFooter a:hover{
    color: black;
}

#acercaCentro {
    justify-content: center;
}

.slide {
    margin-top: 10px;
}

.slide img{
    height: 80vh;
    width: auto;
    
}

.slide p{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    font-weight: bold;
}

.slide h5{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    font-weight: bold;
}